<p id="notice"><%= notice %></p>

<h1>Listing Oddzialies</h1>

<table>
  <thead>
    <tr>
      <th>Id oddzialu</th>
      <th>Oddzial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oddzialies.each do |oddzialy| %>
      <tr>
        <td><%= oddzialy.ID_oddzialu %></td>
        <td><%= oddzialy.oddzial %></td>
        <td><%= link_to 'Show', oddzialy %></td>
        <td><%= link_to 'Edit', edit_oddzialy_path(oddzialy) %></td>
        <td><%= link_to 'Destroy', oddzialy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oddzialy', new_oddzialy_path %>
