<p id="notice"><%= notice %></p>

<p>
  <strong>Id oddzialu:</strong>
  <%= @oddzialy.ID_oddzialu %>
</p>

<p>
  <strong>Oddzial:</strong>
  <%= @oddzialy.oddzial %>
</p>

<%= link_to 'Edit', edit_oddzialy_path(@oddzialy) %> |
<%= link_to 'Back', oddzialies_path %>
