<p id="notice"><%= notice %></p>

<p>
  <strong>Id specjalizacji:</strong>
  <%= @specjalizacja.ID_specjalizacji %>
</p>

<p>
  <strong>Specjalizacja:</strong>
  <%= @specjalizacja.specjalizacja %>
</p>

<%= link_to 'Edit', edit_specjalizacja_path(@specjalizacja) %> |
<%= link_to 'Back', specjalizacjas_path %>
