<%= form_for(@prac2oddzial) do |f| %>
  <% if @prac2oddzial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prac2oddzial.errors.count, "error") %> prohibited this prac2oddzial from being saved:</h2>

      <ul>
      <% @prac2oddzial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ID_Pracownika %><br>
    <%= f.number_field :ID_Pracownika %>
  </div>
  <div class="field">
    <%= f.label :ID_oddzialu %><br>
    <%= f.number_field :ID_oddzialu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
