<p id="notice"><%= notice %></p>

<p>
  <strong>Id rodzajprac:</strong>
  <%= @rodzaj_pracownika.ID_rodzajprac %>
</p>

<p>
  <strong>Rodazj prac:</strong>
  <%= @rodzaj_pracownika.rodazj_prac %>
</p>

<%= link_to 'Edit', edit_rodzaj_pracownika_path(@rodzaj_pracownika) %> |
<%= link_to 'Back', rodzaj_pracownikas_path %>
