<p id="notice"><%= notice %></p>

<h1>Listing Prac2specjalizacjas</h1>

<table>
  <thead>
    <tr>
      <th>Id pracownika</th>
      <th>Id specjalizacji</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prac2specjalizacjas.each do |prac2specjalizacja| %>
      <tr>
        <td><%= prac2specjalizacja.ID_pracownika %></td>
        <td><%= prac2specjalizacja.ID_specjalizacji %></td>
        <td><%= link_to 'Show', prac2specjalizacja %></td>
        <td><%= link_to 'Edit', edit_prac2specjalizacja_path(prac2specjalizacja) %></td>
        <td><%= link_to 'Destroy', prac2specjalizacja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prac2specjalizacja', new_prac2specjalizacja_path %>
