<p id="notice"><%= notice %></p>

<p>
  <strong>Id pracownika:</strong>
  <%= @prac2specjalizacja.ID_pracownika %>
</p>

<p>
  <strong>Id specjalizacji:</strong>
  <%= @prac2specjalizacja.ID_specjalizacji %>
</p>

<%= link_to 'Edit', edit_prac2specjalizacja_path(@prac2specjalizacja) %> |
<%= link_to 'Back', prac2specjalizacjas_path %>
